 .contenedor {
    width: 90%;
    margin: 5%;
 }
 .contenedor .table tr td {
        border: 2px solid;
 }


 .contenedor .table tr td .top_texto_qualidade {
    margin-top: 30%;
}

.contenedor .table tr td .top_texto_itens {
    margin-top: 200%;
}

#blocker {
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
}

html{
    background-color: #343a40;
}
.content{
    background-color: #f4f6f9
}

.sidebar-mini{
    height: 100%;
}

.main-sidebar {
    height: 300%;
}
.elevation-4 {
    box-shadow: 0 0px 0px  #343a40,0 0px 0px  #343a40 !important;
  }

#incluir {
    padding-bottom: 10px;
}
